body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

md-select {
    display: inline-block;
    margin: 1em 0;
    width: 100%;
}

md-spinner {
    float: left;
    width: 24px;
    height: 24px;
    margin: 5px 10px 0px 0px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

code {
    margin: 0;
}

.license-key {
    padding: 0;
}

.serial-key {
    padding: 30px 0 20px 0;
    min-height: 50px;
}

.full-width {
    width: 100%;
}

.form-container {
    margin: 20px;
}

.edit-license-container {
}

.edit-license-text {
    margin-right: 34px;
}

.edit-license-button {
    float: right;
    width: 36px;
    padding: 0;
    min-width: 0;
}

.edit-license-text {
}

.form-buttons {
    display: inline-flex;
    float: right;
    padding-bottom: 20px;
}

.form-button {
    margin-right: 10px;
}

.validation-success {
    color: green;
}

.validation-error {
    color: red;
}
